.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  a {
    color: black;
  }
}

.nav {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  a {
    /* color: white; */
    margin-right: 20px;
    text-decoration: none;
  }
  .active {
    text-decoration: underline;
    color: rgb(241, 106, 166);
    font-weight: 700;
  }
}

/* .welcomTekst {
  color: black
} */

.button {
  padding: 7px 20px;
  border-radius: 4px;
  border: 1px solid black;

  &:hover,
  &:focus {
    box-shadow: 0 0 2px 2px rgb(192, 227, 238);
  }

  transition: box-shadow 0.25s;
}
